page-feedback {
    .feedback-title{
        margin-left: 18px;
    }

    .feedback-content {
        display: block;
        margin: 0 auto 50px;
        border: 1px solid blue;
        font-size: 20px;
    }
}
