<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>个人资料</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items; let i=index" (click)='changeProfile(i)'>
          {{item.name}}
          <ion-avatar item-end *ngIf='i==0'>
            <img [src]='item.content' alt="">
          </ion-avatar>
          <span item-end *ngIf='i!=0'>{{item.content}}</span>
          <ion-icon name='arrow-forward' item-end></ion-icon>
        </ion-item>
      </ion-list>
    <button ion-button full color='secondary' (click)='exit()'>退出登入</button>
</ion-content>
