page-home {
    
    * {
        margin: 0;
        padding: 0;
    }
    .toolbar-md{
        padding: 4px;
        min-height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .toolbar-background-md{
        background-color: #555;
    }
    .toolbar-title-md{
        color: #fff;
    }
    img {
        max-width: none!important;
    }
    .BMap_Marker img {
        height: 100%;
        width: 100%;
    }
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }
    #allmap {
        height: 100%;
        width: 100%;
    }
    .anchorBL {
        display: none;
    }
    .alarm {
        position: absolute;
        right:5px;
        bottom:90px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 99999;
    }
    .alarm-image {
        height: 22px;
        width: 32px;
        margin-left: 9px;
        margin-top:14px;
    }
    .position {
        position: absolute;
        left:5px;
        bottom:10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 99999;
    }
    .position:active {
        background-color: #aaa;
    }
    .position-image {
        height: 36px;
        width: 36px;
        margin-left: 7px;
        margin-top:7px;
    }

    .scenery {
        position: absolute;
        left:5px;
        bottom:70px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 999;
    }
    .scenery:active {
        background-color: #ccc;
    }
    .scenery-image {
        height: 36px;
        width: 36px;
        margin-left: 7px;
        margin-top:7px;
    }

    .route {
        position: absolute;
        right:5px;
        bottom:150px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 99999;
    }
    .route:active {
        background-color: #aaa;
    }
    .route-image {
        height: 26px;
        width: 32px;
        margin-left: 8px;
        margin-top: 12px;
    }

    #navigation-result {
        position: absolute;
        bottom:0;
        height: 400px;
        width: 100%;
        background-color: #fff;
        display: none;
    }
    .navigation-result-title {
        width:100%;
        height: 30px;
    }
    .navigation-result-close {
        float: right;
        height: 30px;
        width: 30px;
        font-size: 26px;
        text-align: center;
    }
    .navigation-result-body {
        overflow: auto;
        width: 100%;
        height: 370px;
    }

    .navigation-result-suggetion {
        font-size: 18px;
        text-align: center;
        height: 270px;
    }
    .navigation-result-suggetion p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navigation-result-blank {
        width:100%;
        height: 300px;
    }
    .navigation-result-suggetion img{
        width: 80%;
        height: 180px;
    }

.infoWindow-alarm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 13px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.3);
}
.infoWindow-alarm:active {
    background-color: #ccc;
}

.infoWindow-alarm-image {
    height: 16px;
    width: 20px;
    margin-top:7px;
    margin-left: -1px;
}

.infoWindow-content {
    min-width: 185px;
    height: 85px;
    position: relative;
    margin-left: 16px;
}
.infoWindow-name {
    color:#fd8300;
}

.infoWindow-left {
    height: 60px;
    width: 60px;
    float:left;
    text-align: center;
}

.infoWindow-right {
    height: 40px;
    min-width: 110px;
    /*border-left: 1px solid #aaa;*/
    /*border-right: 1px solid #aaa;*/
    float:left;
    margin-left: 10px;
    padding: 10px 0;
}

.infoWindow-content h6 {
    line-height: 20px;
}

.left-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px;
    z-index: -1;
}

.infoWindow-go{
    width: 170px;
    height: 20px;
    background-color: rgba(0,0,255,0.5);
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
 }


}
  