<!--
  Generated template for the ShareDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class='my-share-item clearfix'>
    <div class='my-share-head'>
      <img [src]='shareDetail.tblRegistrar.image' alt="">
      <span class='my-share-username'>{{shareDetail.tblRegistrar.nickname?shareDetail.tblRegistrar.nickname:shareDetail.tblRegistrar.username}}</span>

    </div>
    <div class='my-share-body'>
      <div class='my-share-content'>{{shareDetail.content}}</div>
      <div class='my-share-images clearfix'>

        <div class='my-share-image' (click)='openModal(j)' *ngFor='let img of shareDetail.images;let j=index'>
          <img src="{{img}}" alt="">
        </div>

      </div>
      <div class='my-share-datetime'>
        {{shareDetail.createDate}}
      </div>
    </div>
  </div>

  <div class='my-comment-people-all' id='comments'>
    <a name='showPagesA' id='showPagesA' href='#comments'></a>
    <div class='my-comment-people clearfix' *ngFor='let item of shareComments;let i=index'>
      <div class='my-comment-people-left'>
        <img [src]="item.tblRegistrar?(item.tblRegistrar.image?'https://njrzzk.com'+item.tblRegistrar.image:defaultAvatar):defaultAvatar"
          alt="">
      </div>
      <div class='my-comment-people-right'>
        <div class='my-comment-people-name'>
          {{item.tblRegistrar?(item.tblRegistrar.nickname?item.tblRegistrar.nickname:(item.tblRegistrar.username?item.tblRegistrar.username:defaultName)):defaultName}}
        </div>
        <div class='my-comment-people-content'>
          {{item.content}}
        </div>
        <div class='my-comment-people-datetime'>
          {{item.createDate}}
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)='doInfinite($event)'>
    <ion-infinite-scroll-content loadingSpinner='bubbles' loadingText='正在加载'></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>



<div class='my-comment-bottom'>
  <div class='my-comment'>
    <div class='my-comment-left'>
      <img src="assets/imgs/xie-copy.png" alt="" class="comment-write">
      <textarea type="text" placeholder="写评论..." [(ngModel)]='textareaValue'></textarea>
    </div>
    <div class='my-comment-right'>
      <!-- 这里的报错不管 -->
      <span (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelection($event)">
        🤗
      </span>

      <span (click)='doPublish()'>
        发布
      </span>
    </div>
  </div>
</div>