page-discover {
    * {
        margin: 0;
        padding: 0;
    }
    .toolbar-md{
        padding: 4px;
        min-height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .toolbar-background-md{
        background-color: #555;
    }
    .toolbar-title-md{
        color: #fff;
    }
    .my-discover-content{
        height: 100%;
        width: 100%;
        background-color:#e9e9e9;
    }
    .my-discover-item {
        height: 40px;
        width: 100%;
        border-top: 0.5px solid #ccc;
        border-bottom: 0.5px solid #ccc;
        margin-top: 30px;
        background-color: #fff;
    }

    .my-discover-item img {
        display:inline-block;
    }

    .my-discover-logo{
        float: left;
        height: 24px;
        width: 24px;
        margin-left: 20px;
        margin-top: 7px;
    }

    .my-discover-forward {
        height: 30px;
        width: 26px;
        float: right;
        margin-right: 10px;
        margin-top: 4px;
    }

    .my-discover-name {
        line-height: 38px;
        margin-left: 14px;
        display: inline-block;
        height: 100%;
    }


    .my-discover-item-double {
        border-top: 0.5px solid #ccc;
        border-bottom: 0.5px solid #ccc;
        margin-top: 30px;
    }

    .my-discover-item2 {
        height: 40px;
        width: 100%;
        background-color: #fff;
    }

    .my-discover-hr1 {
        width: 100%;
        height: 1px;
        background-color:#fff;
    }

    .my-discover-hr2 {
        width: 100%;
        height: 1px;
        background-color:#ccc;
        margin-left: 20px;
    }
    
}
