<ion-header>
  <ion-navbar>
    <ion-title>
      看景
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager id="my-slides" autoplay='2000'  loop *ngIf="slides.length > 1">
    <ion-slide *ngFor="let slide of slides ">
      <img [src]="slide.mainImage" id="slide-image"/>
    </ion-slide>
  </ion-slides>

  <h4 class='news-hot'><b>热门资讯</b></h4>
  <ion-list>
    <ion-item *ngFor='let item of sceneries;let i=index' (click)="toDetails(i,item.id)">
      <div class='news-left'>
        <img [src]="item.mainImage">
      </div >
      <div class='news-right'>
        <div class='news-title'>
           <b>{{item.title}}</b>
        </div>
        <div class='news-time'>
          <img src="assets/imgs/news-time.png" alt="">
          <div class='news-time-detail'>
              {{item.updateDate}}
          </div>
            
        </div>
      </div>
      <!-- <hr> -->
    </ion-item>
    
  </ion-list>

  <ion-infinite-scroll (ionInfinite)='doInfinite($event)'>
    <ion-infinite-scroll-content loadingSpinner='bubbles' loadingText='正在加载'></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
