page-share {
    .my-share-camera{
        float: right;
        margin-right: 20px;
        height: 28px;
        width: 34px;
    }

    .my-share-camera img{
         height: 100%;
         width: 100%;
    }
}
